body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;
}

.sidebar {
	background-color: #f1f1f1;
	padding: 20px;
	flex-basis: 200px;
}

.content {
	padding: 20px;
	flex-grow: 1;
}

h1 {
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

.text-center {
	text-align: center;
}

.padding-x-15 {
	padding-right: 15px;
	padding-left: 15px;
}

.padding-y-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.bg-dark {
	background-color: #333;
	color: #f1f1f1;
}


.text-control {
    padding: 5px 10px;
    border-radius: 10px;
}

.my-10 {
    margin: 3px 0px;
}

.mb-15 {
	margin-bottom: 15px;
}

.btn-dark {
    padding: 5px 10px;
    background: #333;
    color: white;
    border-radius: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.tbl-responsive {
	border: 1px solid #333;
	width: 100%;
	border-radius: 5px;
}

.tbl-responsive td {
	padding:5px 5px;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
}
