body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.padding-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-y-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-dark {
    background-color: #333;
    color: white;
}

nav li {
	display:inline-block;
	margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.sidebar {
    background-color: #f1f1f1;
    padding: 20px;
    flex-basis: 200px;
}

.content {
    padding: 20px;
    flex-grow: 1;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-control {
    padding: 5px 10px;
    border-radius: 10px;
}

.my-10 {
    margin: 3px 0px;
}

.btn-dark {
    padding: 5px 10px;
    background: #333;
    color: white;
    border-radius: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.mb-15{
    margin-bottom: 15px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid #333; 
    border-collapse: collapse;
}